---
layout: default
---

{% include script.html %}

{% include style.html %}

<div class="calculator">

  <div class="calculator--relative">

    <div class="calculator--left">

      <h1>ROI Calculator</h1>

      <h3>Your Facility</h3>

      <table class="calculator--table">
        <tr>
          <td><label for="CalculatorRestrooms"># Restroom</label></td>
          <td><input type="text" class="input--calculator" id="CalculatorRestrooms" value="10"></td>
        </tr>
        <tr>
          <td><label for="CalculatorFixturesPerRestroom"># Fixtures per Restroom</label></td>
          <td><input type="text" class="input--calculator" id="CalculatorFixturesPerRestroom" value="9"></td>
        </tr>
        <tr>
          <td><label for="CalculatorLaborRate">Employee Labor Rate ($ Hr.)</label></td>
          <td><input type="text" class="input--calculator" id="CalculatorLaborRate" value="10"></td>
        </tr>
        <tr>
          <td><label for="CalculatorStorage">Cart Storage Module</label></td>
          <td>
            <select id="CalculatorStorage" class="input--calculator">
              <option value="1">Yes</option>
              <option value="0">No</option>
            </select>
          </td>
        </tr>
        <tr>
          <td><label for="CalculatorDisinfectantCost">Disinfectant Cost ($ Per Gallon)</label></td>
          <td><input type="text" class="input--calculator" id="CalculatorDisinfectantCost" value="25"></td>
        </tr>
        <tr>
          <td><label for="CalculatorCleaningDaysPerWeek">Cleaning Days Per Week</label></td>
          <td><input type="text" class="input--calculator" id="CalculatorCleaningDaysPerWeek" value="7"></td>
        </tr>
        <tr>
          <td><label for="CalculatorShiftsPerDay">Shift(s) Per Day</label></td>
          <td><input type="text" class="input--calculator" id="CalculatorShiftsPerDay" value="1"></td>
        </tr>
      </table>

      <div class="calculator--weekly-savings">
        <h3 class="green">Weekly Savings</h3>
        <table class="calculator--table">
          <tr>
            <th></th>
            <th width="72" align="center" style="text-align: center; font-size: 11px; color: black;">Traditional Tools</th>
            <th width="72" align="center" style="text-align: center; font-size: 11px; color: black;">Unger RestroomRx</th>
          </tr>

          <tr>
            <td width="125" style="text-align: right; padding-right: 8px; line-height:32px;"><span class="label">Labor: </span></td>
            <td width="72"><span id="CalculatorToolsLaborValue" class="calculator-gray-box"></span></td>
            <td width="72"><span id="CalculatorRestroomLaborValue" class="calculator-green-box"></span></td>
          </tr>

          <tr>
            <td width="125" style="text-align: right; padding-right: 8px; line-height:32px;"><span class="label">Chemicals: </span></td>
            <td width="72"><span id="CalculatorToolsChemicalsValue" class="calculator-gray-box"></span></td>
            <td width="72"><span id="CalculatorRestroomChemicalsValue" class="calculator-green-box"></span></td>
          </tr>

          <tr>
            <td width="125" style="text-align: right; padding-right: 8px; line-height:32px;"><span class="label">Water (Gallons): </span></td>
            <td width="72"><span id="CalculatorToolsWaterValue" class="calculator-gray-box"></span></td>
            <td width="72"><span id="CalculatorRestroomWaterValue" class="calculator-green-box"></span></td>
          </tr>

        </table>
      </div>

    </div>

    <div class="calculator--right">

      <div class="graph">
        <div class="graph-header">
          <img src="img/header.png" alt="Annual Cost Savings" width="339" height="39">
        </div>

        <div style="text-align:center;" class="graph-content">
          {% include graph.html %}
        </div>

      </div>
    </div>

    <div style="clear:both;"></div>

  </div> <!-- .calculator--relative -->

  <div class="calculator--bottom">

    <fieldset>
      <legend>All Estimates Based Upon the Following Data</legend>

      <div class="clearfix">
        <img src="img/bottom.png" alt="">
      </div>

    </fieldset>

  </div>

</div>

<script>

  calc.link({
    restrooms: 'CalculatorRestrooms',
    fixturesPerRestroom: 'CalculatorFixturesPerRestroom',
    laborRate: 'CalculatorLaborRate',
    cartStorage: 'CalculatorStorage',
    disinfectantCost: 'CalculatorDisinfectantCost',
    cleaningDaysPerWeek: 'CalculatorCleaningDaysPerWeek',
    shiftsPerDay: 'CalculatorShiftsPerDay',

    //Calculations
    weeklyToolsLabor: 'CalculatorToolsLaborValue',
    weeklyRestroomLabor: 'CalculatorRestroomLaborValue',

    weeklyToolsWater: 'CalculatorToolsWaterValue',
    weeklyRestroomWater: 'CalculatorRestroomWaterValue',

    weeklyToolsChemicals: 'CalculatorToolsChemicalsValue',
    weeklyRestroomChemicals: 'CalculatorRestroomChemicalsValue',

    annualLaborSavings: 'Graph--Labor-Savings-Bar',
    annualWaterSavings: 'Graph--Water-Savings-Bar',
    annualChemicalSavings: 'Graph--Chemical-Savings-Bar'

  });

  calc.propagate();
</script>
