<script type="text/javascript">

var Calculator = function() {

  this.restrooms = 10;
  this.fixturesPerRestroom = 9;
  this.laborRate = 10.00;
  this.cartStorage = 1;
  this.disinfectantCost = 25.00;
  this.cleaningDaysPerWeek = 7;
  this.shiftsPerDay = 1;

  this.links = {};

  var minutesToDisinfect = 3;
  var minutesForRestroom = 1.5;

  var coverageForMopBucket = 1000;
  var averageSizePerRestroomFixture = 26;

  var waterConservation = 0.7;
  var chemicalDilution = 2;

  this.money = function (number, n, x) {
    n = n || 2;
    var re = '\\d(?=(\\d{' + (x || 3) + '})+' + (n > 0 ? '\\.' : '$') + ')';
    return number.toFixed(Math.max(0, ~~n)).replace(new RegExp(re, 'g'), '$&,');
  }

  this.getToolsWeeklyLaborCost = function() {
    var num = (this.restrooms * this.fixturesPerRestroom * minutesToDisinfect * (this.laborRate / 60) * this.cleaningDaysPerWeek * this.shiftsPerDay);

    return num;
  }

  this.getRestroomWeeklyLaborCost = function() {
    var num = (this.restrooms * this.fixturesPerRestroom * minutesForRestroom * (this.laborRate / 60) * this.cleaningDaysPerWeek * this.shiftsPerDay);

    return num;
  }

  this.getToolsWeeklyWaterCost = function () {
    var num = ( ((this.fixturesPerRestroom * this.restrooms * averageSizePerRestroomFixture) / coverageForMopBucket ) * 6 * this.cleaningDaysPerWeek * this.shiftsPerDay );

    return num;
  }

  this.getRestroomWeeklyWaterCost = function () {
    var num = ( this.getToolsWeeklyWaterCost() * (1 - waterConservation) );

    return num;
  }

  this.getToolsWeeklyChemicalsCost = function () {
    var num = ( (this.getToolsWeeklyWaterCost() * 2) * (this.disinfectantCost * 0.0078125) );

    return num;
  }

  this.getRestroomWeeklyChemicalsCost = function () {
    var num =  ( (this.getRestroomWeeklyWaterCost() * 2) * (this.disinfectantCost * 0.0078125) );

    return num;
  }

  this.getAnnualLaborSavings = function () {
    var num = (this.getToolsWeeklyLaborCost() - this.getRestroomWeeklyLaborCost()) * 52;
    return num;
  }

  this.getAnnualWaterSavings = function () {
    var num = ( (this.getToolsWeeklyWaterCost() - this.getRestroomWeeklyWaterCost() ) * 52);
    return num;
  }

  this.getAnnualChemicalsSavings = function () {
    var num = ( (this.getToolsWeeklyChemicalsCost() - this.getRestroomWeeklyChemicalsCost() ) * 52 );
    return num;
  }

  this.getAnnualStorageSavings = function () {
    var num = ( ( (this.laborRate / 60) * 15) * this.cleaningDaysPerWeek * 52 * this.cartStorage * this.shiftsPerDay );
    return num;
  }

  this.link = function (obj) {
    this.links = obj;

    var that = this;

    for (var name in obj) {
      var elem = jQuery('#' + obj[name]);
      elem.change(function() {

        var input = jQuery(this);

        var id = input.attr('id');

        var key = false;

        for (var prop in that.links) {
          if (that.links.hasOwnProperty(prop)) {
            if (that.links[prop] == id) {
              key = prop;
              break;
            }
          }
        }

        if (!key) return;

        switch (key) {
          case 'restrooms':
          that.restrooms = parseInt(input.val());
          break;
          case 'fixturesPerRestroom':
          that.fixturesPerRestroom = parseInt(input.val());
          break;
          case 'laborRate':
          that.laborRate = parseFloat(input.val());
          break;
          case 'cartStorage':
          that.cartStorage = input.val() == 0 ? 0 : 1;
          break;
          case 'disinfectantCost':
          that.disinfectantCost = parseFloat(input.val());
          break;
          case 'cleaningDaysPerWeek':
          that.cleaningDaysPerWeek = parseInt(input.val());
          break;
          case 'shiftsPerDay':
          that.shiftsPerDay = parseInt(input.val());
          break;
        }

        that.propagate();
      });
    }
  }

}

Calculator.prototype.getPixelWidth = function(currentDollars, maxValue) {
  var graphHeight = jQuery('.Graph--Background').height();
  var max = maxValue || 10000; //Default monetary max

  var pixelsPerDollar = graphHeight / max;

  var x = currentDollars * pixelsPerDollar;
  x = parseInt(x);

  var effectiveMax = (graphHeight - 41);

  if (x > effectiveMax) {
    x = effectiveMax;
  }

  return x;

}

Calculator.prototype.propagate = function () {

  for (var name in this.links) {
    // Iterate through, go from name to name, and put the proper value in its place
    var element = jQuery('#' + this.links[name]);

    if (!element) continue;
    var cost = false;

    switch (name) {
      case 'weeklyToolsLabor':
      element.text(this.money(this.getToolsWeeklyLaborCost()));
      break;
      case 'weeklyRestroomLabor':
      element.text(this.money(this.getRestroomWeeklyLaborCost()));
      break;
      case 'weeklyToolsWater':
      element.text(this.money(this.getToolsWeeklyWaterCost()));
      break;
      case 'weeklyRestroomWater':
      element.text(this.money(this.getRestroomWeeklyWaterCost()));
      break;
      case 'weeklyToolsChemicals':
      element.text(this.money(this.getToolsWeeklyChemicalsCost()));
      break;
      case 'weeklyRestroomChemicals':
      element.text(this.money(this.getRestroomWeeklyChemicalsCost()));
      break;
      case 'annualLaborSavings':
      //element
      cost = this.getAnnualLaborSavings();
      case 'annualWaterSavings':
      if (!cost) cost = this.getAnnualWaterSavings();
      case 'annualChemicalSavings':
      if (!cost) cost = this.getAnnualChemicalsSavings();

      var newHeight = this.getPixelWidth(cost);
      jQuery('.Graph--Amount', element).text('$' + this.money(cost, 0, 0));
      element.css('height', newHeight + 'px');
      break;
    }

  }
}

var calc = new Calculator();

</script>
