<style type="text/css">

.calculator fieldset {
  border: 2px solid #c9c8c9;
  border-left: 0;
  border-right: 0;
  border-bottom: 0;

  margin-top: 24px;
}

.calculator legend {
  display: block;
  margin: 0 auto;

  font-style: italic;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 14px;
  color: black;
}

.calculator--left {
  display: 320px;
  float: left;
}

.calculator--right {
  width: 339px;
  float: right;
}

.calculator--bottom {
  clear: both;
}

.graph-content {
  background-color: #e7e7e8;
}

.input--calculator {
  background-color: #e7e7e8;
  color: black;
  font-size: 14px;
  line-height: 20px;
  height: 20px;
  padding: 2px 7px;

  width: 96px;
  margin-bottom: 18px;

  border-radius: 0px;
}

.calculator--table {

}

.calculator--table tr td:first-child {
  text-align: right;
  padding-right: 6px;
  line-height: 20px;
  font-weight: bold;
  color: black;
}

.calculator h3 {
  color: white;
  text-transform: uppercase;
  color: white;
  background-color:#6d6e71;
  text-align: center;
  font-size: 17px;
  line-height: 26px;
  height: 26px;

  margin: 8px 0;
}

.calculator h3.green {
  background-color: #009e58;
}

.calculator--weekly-savings {
  border: 2px solid #009e58;
  padding: 0px 0px 14px;
}

.calculator--weekly-savings h3 {
  margin-top: 0;
}

.calculator-green-box {
  background-color: #c9e5d5;
}

.calculator-gray-box {
  background-color: #e7e7e8;
}

.calculator-gray-box, .calculator-green-box {
  height: 20px;
  display: block;
  text-align: left;
  color: black;
  line-height: 20px;

  padding: 0 4px;

  margin-bottom: 6px;
  margin: 6px 7px;
}

.calculator--relative {
  position: relative;
}

.calculator--relative:after {
  display: block;
  height: 1px;
  clear: both;
}

.graph-content {
  width: 338px;
  margin-left: 1px;
  min-height: 520px;
  background-color: #e7e7e8;
}

.calculator--weekly-savings {
  margin-top: 15px;
  background-color: white;
}

</style>
